doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="./css/main.css")
        title Gulp+Webpack+Babel+Stylus+Pug
    body
        .contents
            h1 テスト
            p
                a(href="./hoge") hoge
        script(src="./js/main.js")